<table>

  <tr>
    <td>
      <div align=left>
        <!-- left home container pane -->
        <ul>
          <a href=""></a>
        </ul>
        <ul>
          <a href="">View All Jobs</a>
        </ul>
        <ul>
          <a href="">Search Jobs By Department</a>
        </ul>
        <ul>
          <a href="">Search Jobs By Job ID</a>
        </ul>
        <ul>
          <a href="">Upload Documents (Adhar Card/ Pan Card)</a>
        </ul>
        <ul>
          <a href="">Become a Priemere Member</a>
        </ul>

      </div>
    </td>

    <td width=500px> </td>

    <td>
      <div align=right>
          <div class="container">
              <router-outlet></router-outlet>
          </div>

      </div>
    </td>
  </tr>

</table>